<nav class="fixed-nav-container" id="navbar">

  <div class="left-nav">
    <a href="/" class="website-logo">loop list</a>
  </div>

  <ul class="right-nav">
    {{# if user}}
      <li class="right-nav-item">
        <a class="nav-link" href="/lists">my lists</a>
      </li>
      <li class="right-nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    {{else}}
      <li class="right-nav-item">
        <a class="nav-link" href="/signup">signup</a>
      </li>
      <li class="right-nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    {{/if}}
  </ul>
</nav>
