<div class="hero">
  <div class="left-hero">
    <h1>Introducing <span class="product-name">looplist</span></h1>
    <p>Easily re-usable lists, for things like packing lists.</p>
    <a class="butn butn-1 main-cta" href="/signup">Sign up (free)</a>
  </div>
  <div class='right-hero'>
    <img src="/images/looplist-screenshot.png" alt="screenshot of looplist">
  </div>
</div>
