<div class="hero">
  <h1>Introducing <strong>loop list</strong></h1>
  <p>Checklists that reset, for things like packing lists.</p>
  <a class="butn butn-1 main-cta" href="/signup">Sign up (free)</a>
</div>
