:root {
  --light-grey: #c3c6c8;
  --dark-green: #1c622c;
}

/****************
     FULLPAGE
****************/
body, html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f2f6;
}

a {
  color: var(--green);
}

a:hover {
 color: var(--dark-green);
}

.green {
  color: var(--green);
}

h1 {
  margin-top: 1em;
}

.container {
  margin-top: 3em;
  margin-bottom: 5em;
}

input {
  border:none;
  padding: 0.75em 1em !important;
}

/****************
      FORMS
****************/
form {
  max-width: 66%;
}

.form-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-control {
  border:none; /*to cancel out border from bootstrap*/
}

.center_div {
  margin: 0 auto;
  width: 66%;
}

.text-left {
  margin-top: 2em;
}

/****************
    NAVBAR
****************/
nav {
  /* height:80px; */
  padding: 1.16em 3em !important;
  background-color:var(--gray-dark);
}

.navbar-brand {
  text-decoration: none;
  color: white;
  padding: 0.25em 0.5em;
}

.navbar-collapse {
  /* display:flex; */
  justify-content: flex-end;
}

.navbar-brand {
  font-weight:300;
}

.navbar-brand:hover {
  color:var(--light-grey);
}

.nav-link:hover {
  text-decoration: none;
}

.nav-item:hover {
  border-bottom: 0.2em solid white;
}

/***************
 SIGNUP / LOGIN
***************/
.helper-text {
  color:var(--gray);
  width:100%;
  flex-grow:1;
}

div.helper-text {
  margin-top: 1em;
}

/****************
      FOOTER
****************/
body,
html {
  // 3 below lines are necessary for footer to stay at bottom, among other things
  padding: 0;
  margin: 0;
  height: 100%;
}

#wrapper {
  min-height:100%;
  height: auto !important;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

footer {
  width: 100%;
  padding-top: 1.2em;
  text-align: center;
  /* height: 6em; */
  background-color: $black;
  color: var(--gray);
}

/****************
     BUTTONS
****************/
/* inspired from https://tympanus.net/codrops/2013/06/13/creative-button-styles/ */
.butn {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 16px 40px;
    display: inline-block;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.butn-1 {
    background: var(--green);
    color: #fff;
    box-shadow: 0 3px #1c622c;
    border-radius: 0 0 5px 5px;
}

.butn-1:hover {
    box-shadow: 0 5px #1c622c;
    top: -2px;
    color:white;
    text-decoration: none;
}

.butn-1:active {
    box-shadow: 0 0 #1c622c;
    top: 6px;
}

/****************
      MOBILE
****************/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  nav {
    /* height:80px; */
    padding: 1.16em 1em !important;
  }

  h1 {
    margin-top: 0em;
  }

  .center_div {
    margin: 0 auto;
    width: 85%;
  }

  /****** MOBILE FORMS ******/
  form {
    max-width: 100%;
  }
}
