:root {
  --light-grey: #fcfbfa;
  --dark-grey: #454748;
  --dark-green: #1c622c;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --grey: #6c757d;
  --grey-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --input-padding: 1.5em;
}

/****************
     FULLPAGE
****************/
body, html {
  /* 3 below lines are necessary for footer to stay at bottom, among other things */
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f2f6;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 5em 1fr 3em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--green);
  text-decoration: none;
}

h1 {
  margin-top: 1em;
  font-size:2.5em;
}

h2 {
  font-size:2em;
}

input {
  border: none;
  padding: var(--input-padding) 0 var(--input-padding) var(--input-padding);
  font-size: 0.8em;
  width: calc(100% - var(--input-padding));
}

li {
  padding: 0.5em 1em;
}

.green {
  color: var(--green);
}

.underline-on-hover:hover {
  text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none; /* to stop blue outline */
}

/****************
     BUTTONS
****************/
/* inspired from https://tympanus.net/codrops/2013/06/13/creative-button-styles/ */
.butn {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 1em 3em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.butn-1 {
    background: var(--green);
    color: #fff;
    box-shadow: 0 3px #1c622c;
    border-radius: 3px 3px 5px 5px;
}

.butn-1:hover {
    box-shadow: 0 5px #1c622c;
    top: -2px;
    color:white;
    text-decoration: none;
}

.butn-1:active {
    box-shadow: 0 0 #1c622c;
    top: 6px;
}

/****************
      FORMS
****************/
form {
  margin: 0 auto;
}

.form-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-control {
  border:none; /*to cancel out border from bootstrap*/
}

.text-left {
  margin-top: 1em;
}


/*****************
      NAVBAR
*****************/

.fixed-nav-container, .sticky-nav-container {
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
  display: flex;
  height: var(--navbar-size-desktop);
  align-items: center;
  background-color: var(--grey-dark);
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  padding: 1.5em 0.5em;
  list-style: none;
}

.left-nav {
  flex-grow: 1;
}

.website-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.45em;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.right-nav-item:hover {
  border-bottom: 0.2em solid white;
}

/***************
     HOMEPAGE
***************/
.hero {
  margin: 2em;
}

.main-cta {
  margin-top:1.5em;
}

/***************
   CHECKLIST
***************/
.list-container {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

/* LEFT PANE CHECKLIST */

.list-container ul {
  padding:0;
}

.list-container li {
  list-style:none;
}

.list-title {
  margin: 2em 0 0.5em 1em;
}

.new-list-link {
  color: var(--dark-grey);
  border: none;
  background: none;
  font-size: 1em;
  padding: 1em 0.5em 0em 1em;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
}

.list-names {
  background-color: #b0b5bb;
}

.list-names ul li {
  padding: 1em;
}

.selected-list {
  background-color: var(--light-grey);
}

.left-list-name {
  cursor:pointer;
  color: var(--dark);
}

/* RIGHT PANE CHECKLIST */

.checklist {
  background-color: var(--light-grey);
  padding: 2em;
  padding-left: 3em;
  position:relative;
}

.list-title-and-reset-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#current-list {
  font-size: 2em;
  background-color: var(--light-grey);
  padding: 1em 1em 1em 0;
}

.reset {
  margin-left:1.5em;
  display: flex;
  align-items: center;
  max-height: 1em;
  padding: 1em 2em;
}

.to-do-and-chkbox{
  display: flex;
  align-items: center;
}

.to-do-input {
  background-color:var(--light-grey);
  border: 0;
  padding: 0.66em 0;
  font-size:1.2em;
  caret-color: var(--dark-green);
}

.to-do-input:active {
  transition: 0.4s;
}

.to-do-input:focus {
  width: 100%;
  transition: 0.4s;
  outline-width: 0;
}

.chkbox {
  font-size:1.5em;
  margin-right: 1em;
  cursor: pointer;
}

.fa-circle {
  color: var(--grey);
}

.fa-check-circle {
  color: var(--green);
}

.new-todo-link {
  color: var(--grey);
  cursor: pointer;
  margin-left: 0.2em; /* accounting for diff font size */

}

.fas.fa-plus {
  font-size: 1.2em;
  margin-right:1.25em;
}

.delete-list {
  display:flex;
  justify-content: center;
  position:absolute;
  bottom:1.5em;
  right:2em;
  color:var(--grey);
  cursor: pointer;
}

.delete-list .fa-trash-alt {
  margin-left:0.5em;
}

/***************
 SIGNUP / LOGIN
***************/
.helper-text {
  color:var(--grey);
  width:100%;
  flex-grow:1;
}

div.helper-text {
  margin-top: 1.5em;
}

/****************
      FOOTER
****************/

footer {
  bottom:0;
  width: 100%;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

/****************
      MOBILE
****************/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  nav {
    /* height:80px; */
    padding: 1.16em 1em;
  }

  . {
    margin: 0 auto;
    width: 85%;
  }

  .list-title-and-reset-btn {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }

  .reset {
    margin-left: 0;
  }

  .left-list-name, .new-list-link {
    padding: 0.2em;
  }
}
