<div class="list-container">
  <div class="list-names">
    <h3 class='list-title'>My Lists</h3>
    <ul>
      <li class="selected-list">Camping</li>
      <li>International Travel</li>
      <li>Domestic Travel</li>
    </ul>
  </div>
  <div class="checklist">
    <h2>Camping</h2>
    <ul>
      <li>Tent</li>
      <li>Mattress</li>
      <li>Pillow</li>
      <li>Water</li>
      <li>Food</li>
      <li>Canopy</li>
    </ul>
  </div>
</div>
