<div class="list-container">
  <div class="list-names">
    <h3 class='list-title'>My Lists</h3>
    <ul>
      <li>
        <a href="" class='new-list-link'><i class="fas fa-plus-circle"></i> <span class='underline-on-hover'>New List</span></a>
      </li>
      <li class="selected-list">Camping</li>
      <li>International Travel</li>
      <li>Domestic Travel</li>
    </ul>
  </div>
  <div class="checklist">
    <div class='list-title-and-reset-btn'>
      <h2>Camping</h2>
      <a class="reset butn butn-1" href="">Reset</a>
    </div>
    <ul>
      <li><a class="chk far fa-circle"> </a> Tent</li>
      <li><a class="chk far fa-circle"> </a> Mattress</li>
      <li><a class="chk far fa-circle"> </a> Pillow</li>
      <li><a class="chk far fa-circle"> </a> Water</li>
      <li><a class="chk far fa-check-circle"> </a> Food</li>
      <li><a class="chk far fa-check-circle"> </a> Canopy</li>
    </ul>
  </div>
</div>
