<div class="list-container">
  <div class="list-names">
    <h3 class='list-title'>My Lists</h3>
    <button href="" class='new-list-link' onClick="createList()"><i class="fas fa-plus-circle"></i>
      <span class='underline-on-hover'> New List</span>
    </button>
    <ul id="ul-of-list-names">
      {{#each lists as |list|}}
      <li class="left-list-name">{{list.title}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="checklist">
    <div class='list-title-and-reset-btn'>
      <h2 id="default-list" listid="{{defaultList._id}}">{{defaultList.title}}</h2>
      <a class="reset butn butn-1" href="">Reset</a>
    </div>
    <ul class='to-do-ul'>
      <div class="to-do-and-chkbox">
        <a class="chkbox far fa-circle" href="" tabindex="-1"></a>
        <!-- tabindex -1 so tab button skips checkboxes and cycles input fields -->
        <input class='to-do-input' value="Tent">
      </div>
      <div class="to-do-and-chkbox">
        <a class="chkbox far fa-circle" href="" tabindex="-1"></a>
        <input class='to-do-input' value="Canopy">
      </div>
      <div class="to-do-and-chkbox">
        <a class="chkbox far fa-circle" href="" tabindex="-1"></a>
        <input class='to-do-input' value="Mattress">
      </div>
      <div class="to-do-and-chkbox">
        <a class="chkbox far fa-circle" href="" tabindex="-1"></a>
        <input class='to-do-input' value="Hammer">
      </div>
      <div class="to-do-and-chkbox">
        <a class="chkbox far fa-check-circle" href="" tabindex="-1"></a>
        <input class='to-do-input' value="Insect Spray">
      </div>
    </ul>
    <a class='new-todo-link'><i class="fas fa-plus"></i>
      <span class='underline-on-hover'>Add items</span>
    </a>
    <a class='delete-list' onClick="deleteList()">
      Delete List
      <i class="fas fa-trash-alt"></i>
    </a>
  </div>
</div>

<script src="/javascripts/checklist.js"></script>

</script>
<script type="text/javascript">

</script>
